@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

body {
  margin: 0 auto;
}

.navbar {
  background-color: #e2b932;
}

.nav-link {
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.nav-link:hover {
  transition: 0.3s ease-in-out;
  color: rgb(255, 255, 255);
}

.fluid-container {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.217),
      rgba(0, 0, 0, 0.843)
    ),
    url("../Images/dan-meyers-IQVFVH0ajag-unsplash.jpg");
  height: 1200px;
  background-position: center;
}

/* NAV BAR */

/* nav barr end */

.quote1 h1 {
  text-align: center;
  cursor: pointer;
  padding-left: 30px;
  padding-top: 130px;
}

/* effect-shine */
.effect-shine {
  transition: 1.5s ease-in-out;
}
.effect-shine:hover {
  transition: 1.5s ease-in-out;
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(3, 164, 121, 0.6) 30%,
    rgb(6, 155, 128) 50%,
    rgba(6, 187, 160, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 1.5s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

.quote1 p {
  padding-top: 200px;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  opacity: 1;
  font-family: "Comfortaa", cursive;
  font-weight: 550;
}

.quote1 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e2b932;
  font-family: "Comfortaa", cursive;
  font-weight: bolder;
  font-size: 90px !important;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
.flex-container1 {
  background-image: linear-gradient(
    to right,
    rgb(31, 137, 91),
    rgba(3, 2, 56, 1)
  );
}

.quote_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  font-weight: bolder;
  font-family: "Comfortaa", cursive;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

.paragraph--type--card-row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

:root {
  --main: ##1e1f26;
  --accent: #b3b3b3;
  --white: #fff;
  --signal: #e2b932;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.6;
}

.card1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.142),
      rgba(0, 0, 0, 0.585)
    ),
    url("../Images/lumensoft-technologies-WaGMKmJ2F0Y-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 400px;
  border-radius: 2rem;
  overflow: hidden;
  transition: ease-in-out 0.3s;
  box-shadow: 5px 8px 12px 2px rgba(35, 35, 35, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transform: scale(0.7);
}

.card-content {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 10%,
    rgba(0, 0, 0, 0.4) 20%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 1em 2em;
  color: var(--white);
  transform: translateY(24em);
  transition: ease-in-out 0.5s;
  height: 100%;
}

.card-titel {
  position: relative;
  color: var(--white);
}
.card1:hover {
  transform: scale(1.02);
}
.card1:hover .card-titel::after {
  transform: translateX(-10%);
}
.card1:hover .card-content {
  transform: translateY(0);
}
.card-titel::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--signal);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-90%);
  transition: ease-in-out 0.5s;
  transition-delay: 0.5s;
}
.card-button {
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  background-color: var(--signal);
  cursor: pointer;
  font-weight: 700;
  color: #fff;
}

.card-button:hover,
.card-button:focus {
  background-color: var(--accent);
}

.card2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.142),
      rgba(0, 0, 0, 0.585)
    ),
    url("../Images/bonnie-kittle--f7bKsvOgwU-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 400px;
  border-radius: 2rem;
  overflow: hidden;
  transition: ease-in-out 0.3s;
  box-shadow: 5px 8px 12px 2px rgba(35, 35, 35, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transform: scale(0.7);
}

.card2:hover {
  transform: scale(1.02);
}
.card2:hover .card-titel::after {
  transform: translateX(-10%);
}
.card2:hover .card-content {
  transform: translateY(0);
}

.card3 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.142),
      rgba(0, 0, 0, 0.585)
    ),
    url("../Images/pexels-jannis-knorr-2933243.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px 0 0 0;
  max-width: 400px;
  border-radius: 2rem;
  overflow: hidden;
  transition: ease-in-out 0.3s;
  box-shadow: 5px 8px 12px 2px rgba(35, 35, 35, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transform: scale(0.7);
}

.card3:hover {
  transform: scale(1.02);
}
.card3:hover .card-titel::after {
  transform: translateX(-10%);
}
.card3:hover .card-content {
  transform: translateY(0);
}
/* .card{
  width: 400px;
  transition: 0.2s ease-in-out;

border-radius: 5%;
}

.card:nth-child(2) {
  margin: 0px 40px 0px 40px;
}

.card:hover{
  transition: 0.2s ease-in-out;
  transform: translateY(20px);
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  margin: 0;
}

.card h3 {
  margin: 0;

  text-align: center;
  line-height: 1.2;
  font-family: "Comfortaa", cursive;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.card-image img{
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease-in-out;
  border-radius: 3%;
}

.card img:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
  transition: 0.6s;
}

.paragraph{
  padding-top: 20px;
  text-align: center;
  font-family: "Comfortaa",cursive;
  margin-bottom: 0;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 17px;
}

.card .card-content {
  border-top: none;
  padding-bottom: 20px;
} */

footer {
  background-color: #e2b932;
}
